body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader__mensaje {
  font-size: 1.5rem;
}

/* BEM Block__Element--Modifier */
.loader__spinner {
  width: 5rem;
  height: 5rem;
  border: 0.5em dotted #555;
  border-radius: 100%;
  border-bottom-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0);}
  100% { transform: rotate(360deg);}
}
.imagen_tienda{
 max-width: 15rem;
 max-height: 15rem;
 align-items:center;
 }
.card{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 flex-flow: row wrap;
}

.carousel-img {
  height: 100%;
}
carrito
.carrito{
  display: flex;
  
 }



.botones_compra{
  display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 flex-flow: row wrap;
 margin-top: 50px;
 margin-bottom: 30px;
 justify-content: center;
 align-items: center;
}
.carrito_card_mas{
  margin-left: -10px;

}
.carrito_card_numero{
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;

}
.total_producto{
  display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
}

.confirmar_pedido{
  margin-top: 15px;
  position:absolute; 
    width:50%; left:0;
    text-align:center;
    margin-left: 25%;
    margin-right:25%;
  margin-bottom: 50px;
  font-size: larger;
}
.total{
  font-size: large;
  text-align: center;
}
tienda
.secciones{
  display: flex;
  
  
}
.secciones_producto{
  
  font-size: larger;
  margin-bottom: 50px;
 margin-left: 3%;
  margin-top: 25px;
  
    
}
.row{
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    
    margin-right: auto;
    margin-left: auto;
}
.noarticulos{
  text-align: center;
  font-size: large;
}

footer

.text-reset{
  text-decoration:none;
}


